
    <md-grid-list md-cols="18" md-row-height="20px" >
    <md-grid-tile md-colspan="{{$index*$index +1}}"  ng-repeat="title in $ctrl.titles" >{{title}}</md-grid-tile>
    </md-grid-list>

    <md-grid-list md-cols="18" md-row-height="300px" ng-repeat="message in $ctrl.content track by $index ">
        <md-grid-tile  md-colspan="1">{{$index +1}}</md-grid-tile>
        <md-grid-tile  md-colspan="2">{{message.from}}</md-grid-tile>
        <md-grid-tile  md-colspan="5">{{message.subject}}</md-grid-tile>
        <md-grid-tile  md-colspan="10" bind-html-compile="message.text"></md-grid-tile>
    </md-grid-list>