//.main-row {
//  display: flex;
//  width: 1100px;
//  height: 300px;
//  overflow: hidden;
//  margin: 0 auto;
//
//  div{
//    border: 1px solid #777;
//  }
//}
//.col1{
//  width: 5%;
//}
//.col2{
//  width: 25%;
//}
//.col3{
//  width: 20%;
//}
//.col4{
//  overflow-y: scroll;
//  width:  50%
//}
//.header-row{
//  display: flex;
//  width: 1100px;
//  height: 36px;
//  overflow: hidden;
//  margin: 0 auto;
//  margin-top: 50px;
//
//  div{
//    border: 1px solid #777;
//  }
//}
md-grid-tile {
  border: 1px solid #777;

  span {
    word-break: break-all;
  }
}
md-grid-tile:last-child{
  overflow-y: scroll;
}
